{{! Partial for a single post }}
<div class="post">
    <div class="post-avatar">
        <!-- the user's avatar -->
        <img src="{{#if this.avatar_url}}
                    {{this.avatar_url}}
                {{else}}
                    /avatar/{{sanitizeURL this.username}}
                {{/if}}"
                alt="Poster's Avatar"
                class="post-avatar-img">
    </div>
    <div class="post-content preserve-newlines">
        <!-- the post -->
        <h3>
            <a href="/post/{{this.id}}">{{this.title}}</a>
        </h3>
        <p class="post-main-constent">{{this.content}}</p>
        <hr>
        <div class="post-status-bar">
            <!-- everything that is shown in the status bar -->

            {{#if loggedIn}}
                {{#ifEq this.username user.username}}
                    <!-- font awesome trashcan -->
                    <form action="/delete/{{this.id}}" method="POST">
                        <button type="submit" class="delete-button icon-button">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </form>
                {{else}}
                    <!-- Heart = ♥ -->
                        <button type="submit" class="like-button icon-button">
                            <i class="fa-solid fa-heart" id="like-icon-{{this.id}}", data-id="{{this.id}}"></i>
                        </button>
                {{/ifEq}}
            {{/if}}

            <span id="like-count-{{this.id}}" count="{{this.likes}}">{{this.likes}} Likes</span>
            <span>Posted by {{this.username}} on {{this.timestamp}}</span>
        </div>
    </div>
</div>
<script src="javascript/post.js" post="{{this.id}}"></script>