{{! Partial for a single post }}
<div class="post">
    <div class="post-avatar">
        <!-- the user's avatar -->
    </div>
    <div class="post-content preserve-newlines">
        <!-- the post -->
        <h3>{{this.title}}</h3>
        <p>{{this.content}}</p>
        <hr>
        <div class="post-status-bar">
            <!-- everything that is shown in the status bar -->
            
            {{#if loggedIn}}
                {{#ifEq this.username user.username}}
                    <!-- font awesome  trashcan = <i class="fas fa-trash-alt"> </i>-->
                    <span class="delete-button">
                        <i class="fas fa-trash-alt"> </i>
                    </span>
                {{else}}
                    <!-- Heart = ♥ -->
                    <span class="like-button">
                        <i class="fa-solid fa-heart"></i>
                    </span>
                {{/ifEq}}
            {{/if}}

            <span>{{this.likes}} Likes</span>
            <span>Posted by {{this.username}} on {{this.timestamp}}</span>
        </div>
    </div>
</div>
<script>

    function handleLikeClick(event) {
        const postId = event.target.getAttribute('data-id');

        // you might want to "fetch" something...        
    }

    function handleDeleteClick(event) {
        const buttonElement = event.target.closest('.delete-button');
        const postId = buttonElement.getAttribute('data-id');        

        // you might want to "fetch" something...        
        
    }    
</script>