{{! Use the main layout }}
{{!< main }}

<section class="profile-page">
    <div class="profile-container">
        <div class="profile-avatar">
            <!-- Correct path for the default avatar image -->
            <img src="{{#if user.avatar_url}}
                        {{user.avatar_url}}
                    {{else}}
                        /avatar/{{user.username}}
                    {{/if}}"
                    alt="User Avatar"
                    class="profile-avatar-img">
        </div>

        <section class="profile-info">
            <!-- user profile info -->
            <h1>User Profile</h1>
            <p class="username-box">
                <span class="input-container">
                    <b>Username:</b>
                    <span id="current-username">{{user.username}}</span>
                    <input type="text" id="username-input" value="{{user.username}}" onfocusout="changeUsername()">
                </span>
                <i class="fa-solid fa-pencil edit-username-button" onclick="editingUsername()"></i>
            </p>
            <p><b>Member since:</b> {{user.memberSince}}</p>
        </section>

        <button class="delete-account-button" onclick="showDeleteModal()">Delete Account</button>
    </div>

    <section class="user-posts">
        <!-- you can call posts tweets, or truths, or whatever, these are neologisms. Choose your own new in server.js -->
        <nav class="post-list-header">
            <span class="invisible">
                <label for="dropdown-dummy" class="dropdown-label">Sort:</label>
                <select id="sort-dropdown-dummy" name="dropdown-dummy" class="dropdown">
                    <option value="id">Recency</option>
                    <option value="likes">Likes</option>
                </select>
            </span>

            <h2>Your {{{postNeoType}}}s</h2>

            <span>
                <label for="dropdown" class="dropdown-label">Sort:</label>
                <select id="sort-dropdown" name="dropdown" class="dropdown" onchange="handleRedirect()">
                    <option value="id">Recency</option>
                    <option value="likes">Likes</option>
                </select>
            </span>
        </nav>

        <!-- you'll need to make this conditaionl and #each expression work -->
        <!-- Need a way to check how many posts the user has made -->
        {{#if 0}}
            <!-- fix this up with some helper functions and other handlebars expressions, or add you own character -->
            <p class="no-posts-alert">You have not posted yet, poster.</p>
        {{else}}
            <ul>
                {{#each posts}}
                    {{#ifEq this.username ../user.username}}
                        {{> post this user=../user loggedIn=true}}
                    {{/ifEq}}
                {{/each}}
            </ul>
        {{/if}}
    </section>
</section>

<div class="modal" id="delete-modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <h2>Are you sure you want to delete your account?</h2>
        <br><br>
        <div class="modal-buttons">
            <button onclick="deleteAccount()">Delete</button>
            <button onclick="closeModal()">Cancel</button>
        </div>
    </div>
</div>

<script>

function showDeleteModal() {
    const deleteModal = document.getElementById("delete-modal");
    deleteModal.style.display = "flex";
}

function closeModal() {
    const deleteModal = document.getElementById("delete-modal");
    deleteModal.style.display = "none";
}

function deleteAccount() {
    const deleteModal = document.getElementById("delete-modal");
    deleteModal.style.display = "none";
    fetch("/deleteAccount", {
        method: "POST",
        headers: {"Content-Type": "text/plain"}, 
        body: ""
    }).then(res => {
        window.location.href = "/logout";
    });
}

function editingUsername() {
    const usernameSpan = document.getElementById("current-username");
    const usernameInput = document.getElementById("username-input");

    usernameSpan.style.display = "none";
    usernameInput.style.display = "inline";
}

function changeUsername() {
    const usernameSpan = document.getElementById("current-username");
    const usernameInput = document.getElementById("username-input");

    usernameSpan.style.display = "inline";
    usernameInput.style.display = "none";

    fetch("/updateUsername/" + usernameInput.value, {
        method: "POST",
        headers: {"Content-Type": "text/plain"}, 
        body: ""
    }).then(res => {
        window.location.href = "/profile";
    });
}

function handleRedirect() {
    const dropdown = document.getElementById("sort-dropdown");
    const selectedValue = dropdown.value;
    if (selectedValue) {
        window.location.href = "/profile/sort/" + selectedValue;
    }
}

const sortCriteria = "{{{sortCriteria}}}";
document.getElementById("sort-dropdown").value = sortCriteria;

</script>
