{{! Use the main layout }}
{{!< main }}

<section class="profile-page">
    <div class="profile-container">
        <div class="profile-avatar">
            <!-- Correct path for the default avatar image -->
            <img src="{{#if user.avatar_url}}
                        {{user.avatar_url}}
                    {{else}}
                        /avatar/{{sanitizeURL user.username}}
                    {{/if}}"
                    alt="User Avatar"
                    class="profile-avatar-img">
        </div>

        <form action="/uploadAvatar" method="POST" enctype="multipart/form-data">
            <input id="fileInput" type="file" name="avatar" class="no-display" accept=".png">
            <input type="button" value="Upload Avatar" class="upload-avatar-button basic-button" id="upload-avatar-button">
        </form>

        <section class="profile-info panel">
            <!-- user profile info -->
            <h1>User Profile</h1>
            <p class="username-box">
                <span class="input-container">
                    <b>Username:</b>
                    <span id="current-username">{{user.username}}</span>
                    <input type="text" id="username-input" value="{{user.username}}">
                </span>
                <i class="fa-solid fa-pencil edit-username-button" id="edit-username"></i>
            </p>
            <p><b>Member since:</b> {{user.memberSince}}</p>
        </section>

        <button class="delete-account-button basic-button" id="delete-account-button">
            Delete Account
        </button>
    </div>

    <section class="user-posts">
        <!-- you can call posts tweets, or truths, or whatever, these are neologisms. Choose your own new in server.js -->
        <nav class="post-list-header">
            <span class="invisible">
                <label for="sort-dropdown-dummy" class="dropdown-label">Sort:</label>
                <select id="sort-dropdown-dummy" name="dropdown-dummy" class="dropdown">
                    <option value="id">Recency</option>
                    <option value="likes">Likes</option>
                </select>
            </span>

            <h2>Your {{{postNeoType}}}s</h2>

            <span>
                <label for="sort-dropdown" class="dropdown-label">Sort:</label>
                <select id="sort-dropdown" name="dropdown" class="dropdown">
                    <option value="id">Recency</option>
                    <option value="likes">Likes</option>
                </select>
            </span>
        </nav>

        <!-- you'll need to make this conditaionl and #each expression work -->
        <!-- Need a way to check how many posts the user has made -->
        {{#if posts.length}}
            <ul>
                {{#each posts}}
                    {{> post this user=../user loggedIn=true}}
                {{/each}}
            </ul>
        {{else}}
            <!-- fix this up with some helper functions and other handlebars expressions, or add you own character -->
            <p class="no-posts-alert">There is a {{postNeoType}} famine. Help!</p>
        {{/if}}
    </section>
</section>

<div class="modal" id="delete-modal">
    <div class="modal-content">
        <span class="close close-modal">&times;</span>
        <h2>Are you sure you want to delete your account?</h2>
        <br><br>
        <div class="modal-buttons">
            <button id="DELETE-account" class="basic-button">Delete</button>
            <button class="close-modal basic-button">Cancel</button>
        </div>
    </div>
</div>

<div id="sort-criteria">{{sortCriteria}}</div>

<script src="/javascript/profile.js"></script>
